.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-tabs li a {font-size:18px; text-transform: uppercase; }


#fixedbar { 
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: black;
  /*left:10%;*/
  z-index:10;
}
 
#fixednav { 
  float: none;
  display: inline-block;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  /*padding: 0px 19%;*/

}
header {
  /*background-image: url('../img/header-bg.jpg');*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height:500px;
}
 
#fixednav li a {
  display: block;
  float: left;
  /*font-size: 1.75em;
  font-weight: bold;
  color: #96aed8;
  line-height: 80px;
  text-decoration: none;
  padding: 0px 8px;
  margin-right: 6px; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; */
}

.follow{
  text-align:right;
  float:right;
}



ul.gitbutton{
    margin-top: 10px;
    
}
ul.gitbutton li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 35px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.gitbutton li a:hover,
ul.gitbutton li a:focus,
ul.gitbutton li a:active {
  background-color: #fed136;
}

.btn-xl{
  padding:10px 20px;
  margin: 30px;


}


header .intro-text {
  padding-top: 10px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  font-weight:400;
}
header .intro-text .intro-heading {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-weight:400;
  }
  header .intro-text .intro-heading {
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}




